[global]
app_name=''
app_url=
app_env=
app_locale=
app_key=''
app_debug=
authorization_parameter=
authorization=
login_route=

[database]
db=                                                 ; Here you can specify which database you use: mysql, sqlite, pgsql, sqlsrv or redis
db_host=127.0.0.1
db_port=
db_unix_socket=
db_database=
db_username=
db_password=

[cache]
store=file
db_cache_connection=
db_cache_table=
db_cache_lock_connection=
db_cache_lock_table=

[logging]
log_channel=

[mail]
mail_mailer=
mail_host=
mail_port=
mail_username=
mail_password=
mail_encryption=
mail_from_adress=''

[queue]
queue_connection=
db_queue_connection=
db_queue_table=
db_queue=
db_queue_retry_after=

[session]
session_driver=
session_lifetime=
session_expire_on_close=
session_table=
session_encrypt=
session_connection=
session_secure_cookie=
#Supported: lax, strict, none, null
session_same_site=

[statamic]
cp_enabled=
cp_route=
custom_cms_name=''
pro_enabled=
eloquent_connection=
revisions_enabled=
stache_watcher=
# Supported half, full
static_caching_strategy=''
license_key=


[email]
dsv_info=''                                      ; Entire DSV
dsv_teachers=''                             ; Teachers
dsv_phd=''                                       ; PhD

[sukat]
host=
username=
password=
port=
base_dn=''
timeout=

[rss]
su_drift=
vr=''
